img{
	display: inline;
	margin: 0px;
}
.nav-link{
	display: inline;
}
.nav-link:hover{
	background-color: black;
	color: white;
}
.d-flex{
	margin-left: 20vh;
}
.container-fluid{
	margin:0px;
}
.botbut{
	background-color: white;
	border: solid 1px;
}