.but1{
	background-color: turquoise;
	border: 1px solid white;
	border-radius: 10px;

}
.but2{
	background-color: orange;
	border: 1px solid white;
	border-radius: 10px;


}
.clear{
	width: 292px;
	background-color: red;
	border: 1px solid white;
	border-radius: 10px;
	
}